sudo: false
language: java
jdk:
- openjdk11
install: ./gradlew assemble
before_script:
- sleep 15
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  apt: true
  directories:
  - $HOME/.m2
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
after_success:
- test $TRAVIS_BRANCH = "dev" && ./gradlew publish
before_install:
- openssl aes-256-cbc -K $encrypted_f045584388f1_key -iv $encrypted_f045584388f1_iv
  -in gradle.properties.enc -out gradle.properties -d
